  <div class="container">
    <div class="row col-md-12">
          <footer>
            <div>
                <p>
		&copy; 2014-2017 {{ .Site.Params.AuthorName }} ~ Powered By <a href="http://gohugo.io">Hugo</a> ~ Auto-hébergement hybride par Hébergeur -> placard
                </p>

	    </div>
            </footer>
        </div>
	<script src="https://liberapay.com/fredix/widgets/button.js"></script>
	<a href="https://drone.fredix.xyz/fredix/fredix.xyz"><img src="https://drone.fredix.xyz/api/badges/fredix/fredix.xyz/status.svg"/></a>
    </div>

    <!-- container section end -->
    <!-- javascripts -->
    <script src="/js/jquery-min-2.1.1.js"></script>
    <script src="/js/bootstrap.min-3.1.1.js"></script>
    </body>
</html>
