<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <link rel="shortcut icon" href="/img/favicon.ico">

    <title>{{.Title}}</title>

 	<!-- default bootstrap css -->
	<link href="/css/fredix.css" rel="stylesheet"> 

 	<!-- custom css -->
 	<link href="/css/style.css" rel="stylesheet">
	<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />


</head>
<body lang="en">
	<div class="container">
		<div class="row">
			<div class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
    <img src="/images/avatar.jpg" class="avatar">
				<!--	<a class="navbar-brand" href="{{.Site.BaseURL}}">{{ .Site.Title }}</a> -->
				</div>
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="{{ .Site.BaseURL }}">Home</a></li>
						<li><a href="{{ .Site.BaseURL }}post/">Blog</a></li>
						<li><a href="{{ .Site.BaseURL }}page/code/">code</a></li>
						<li><a href="{{ .Site.BaseURL }}texte/">textes</a></li>
						<li><a href="{{ .Site.BaseURL }}page/about/">A propos</a></li>
						<li><a href="{{ .Site.BaseURL }}page/cv/">CV</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

