{{ $data := dict }}
{{ $url := printf "https://memos.fredix.xyz/u/fredix/rss.xml?v=%d" now.Unix }}
{{ with resources.GetRemote $url }}
  {{ with .Err }}
    {{ errorf "%s" . }}
  {{ else }}
    {{ $data = .Content | transform.Unmarshal }}
  {{ end }}
{{ else }}
  {{ errorf "Unable to get remote resource %q" $url }}
{{ end }}


{{ with $data.channel.item }}
  <ul>
    {{ range . }}
      <li>⤞ <a href="{{ .link }}">{{ .title }}</a></li>
    {{ end }}
  </ul>
{{ end }}
