	{{ if eq .Type "post" }}
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<h3><a href="{{.Permalink}}">{{ .Title }}</a></h3>
					<span class="label label-primary">{{ .Date.Format "Mon Jan 2, 2006" }}</span> in 
					{{ range $i, $e :=.Params.categories }}
						{{if $i}} , {{end}}
						<a href="/tags/{{ . | urlize }}">{{ . }}</a>
					{{ end }} using tags 			 
					{{ range $i, $e :=.Params.tags }}
						{{if $i}} , {{end}}
						<a href="/tags/{{ . | urlize }}">{{ . }}</a>
					{{ end }}
				</small>
			</div>
		</div>	
		<div class="row">
			<div class="col-md-offset-1 col-md-10">
				<br> 
				{{ .Content }}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr>
			</div>
		</div>
	{{ end }}
