{{ template "theme/partials/header.html" . }}

<div class="container">
        <div class="row">
                <div class="col-md-offset-1 col-md-10">
                        <br>

		<ul>
		<li>
			<a href="https://twisterio.com/timeline/fredix">https://twisterio.com/timeline/fredix</a>
		</li>
		<li>
			<a href="https://twitter.com/fredix">https://twitter.com/fredix</a>
		</li>
		<li>
			<a href="https://github.com/fredix">https://github.com/fredix</a>
		</li>
		</ul>

                </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                        <hr>
                </div>
        </div>
</div>

{{ template "theme/partials/footer.html" . }}
