
{{- $taxonomy := .Taxonomy -}}
{{- $context := .Context -}}
{{- $limit := .Limit -}}
{{ $icon := (index site.Params.taxonomies.icons $taxonomy) | default "tags" }}

<section class="flex flex-col w-full gap-y-3 pl-6 py-3 mt-6 text-slate-800 dark:text-slate-200">
    <a class="flex flex-row">
    <a class="flex flex-row" href='https://memos.fredix.xyz'>
      <i class="h-6 w-6 flex-none">
        {{ partial "icon.html" $icon }}
      </i>
      &nbsp;MEMOS
    </a>

  <div class="flex flex-row">
        {{ partial "rss.html" . }}
  </div>
</section>
