{{ template "theme/partials/header.html" . }}
<div class="container">	
	<div class="row">
		<div class="col-md-12 text-center">
			<h3></h3>
	    </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<ul>
			    {{ range .Data.Pages }}
			        {{ .Render "post-title"}}
			    {{ end }}
		    </ul>
	    </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>	
</div>

{{ template "theme/partials/footer.html" . }}
