/*==================================================
== Avatar
==================================================*/

.avatar {
  background: white;
  border: 1px dashed #c6c5b4;
  border-radius: 100em;
  float: right;
  margin-left: 1.5em;
  max-width: 100%;
  padding: 8px;
  width: auto;
}
  .avatar:hover {
    -webkit-animation: spin 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
       -moz-animation: spin 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
        -ms-animation: spin 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
         -o-animation: spin 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
  }
@media (max-width: 568px) {
  .avatar {
    display: none;
  }
}

